<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.SpotifyStreamerWithBeaconSupport" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="@string/GoogleNearbyAPIKey" />

        <activity
            android:name="com.example.android.SpotifyStreamerWithBeaconSupport.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android.SpotifyStreamerWithBeaconSupport.TrackActivity"
            android:label="@string/title_activity_track"
            android:parentActivityName="com.example.android.SpotifyStreamerWithBeaconSupport.MainActivity" >
        </activity>
        <activity
            android:name="com.example.android.SpotifyStreamerWithBeaconSupport.TrackPlayerActivity"
            android:label="@string/title_activity_track_player" >
        </activity>
        <activity
            android:name="com.example.android.SpotifyStreamerWithBeaconSupport.SettingsActivity"
            android:label="SettingsActivity" >
        </activity>
        <activity
            android:name="com.example.android.SpotifyStreamerWithBeaconSupport.EventActivity"
            android:label="@string/title_activity_event" >
        </activity>
        <service
            android:name="com.example.android.SpotifyStreamerWithBeaconSupport.service.TrackPlayerService"
            android:exported="false"/>
        <service
            android:name="com.example.android.SpotifyStreamerWithBeaconSupport.service.BeaconScanningService"
            android:exported="false"/>
    </application>

</manifest>
